#login-form {
  display: flex;
  flex-direction: column;
  margin: 150px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  background-color: #536a49;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 25px;
  transition: border-color 0.3s ease-in-out;
}

/*
    :not()
    - () 선택한 element 또는 attribute를 제외하고 CSS를 적용
  */
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid #ff94b3;
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: white;
}

#login-form input:focus {
  border-color: #ff94b3;
}

#login-form input[type="submit"] {
  background-color: #ff94b3;
  cursor: pointer;
  font-size: 16px;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
